# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Jan 18 2018 17:21:05

# Family & Device:    iCE40UP5K

# Package:            SG48

# ##############################################################################

###IOSet List 2
set_io clk 44
set_io led 41

