set_location spi.SCLK_old_RNI5H8V1 14 16 1 # SB_LUT4 (LogicCell: spi.SCLK_old_RNI5H8V1_LC_0)
set_location spi.SCLK_old_RNIKH0V 14 15 6 # SB_LUT4 (LogicCell: spi.SCLK_old_RNIKH0V_LC_1)
set_location spi.SCLK_old_RNIRCN41 14 15 7 # SB_LUT4 (LogicCell: spi.SCLK_old_RNIRCN41_LC_2)
set_location spi.SPI_DONE_RNO 14 15 2 # SB_LUT4 (LogicCell: spi.SPI_DONE_LC_3)
set_location spi.SPI_DONE 14 15 2 # SB_DFF (LogicCell: spi.SPI_DONE_LC_3)
set_location spi.SPI_DONE_RNO_0 14 15 1 # SB_LUT4 (LogicCell: spi.SPI_DONE_RNO_0_LC_4)
set_location spi.SS_old_RNIBOQN3 14 16 2 # SB_LUT4 (LogicCell: spi.SS_old_RNIBOQN3_LC_5)
set_location spi.TxData_RNO[0] 13 15 5 # SB_LUT4 (LogicCell: spi.TxData[0]_LC_6)
set_location spi.TxData[0] 13 15 5 # SB_DFFE (LogicCell: spi.TxData[0]_LC_6)
set_location spi.TxData_RNO[1] 13 15 0 # SB_LUT4 (LogicCell: spi.TxData[1]_LC_7)
set_location spi.TxData[1] 13 15 0 # SB_DFFE (LogicCell: spi.TxData[1]_LC_7)
set_location spi.TxData_RNO[2] 15 15 7 # SB_LUT4 (LogicCell: spi.TxData[2]_LC_8)
set_location spi.TxData[2] 15 15 7 # SB_DFFE (LogicCell: spi.TxData[2]_LC_8)
set_location spi.TxData_RNO[3] 15 15 5 # SB_LUT4 (LogicCell: spi.TxData[3]_LC_9)
set_location spi.TxData[3] 15 15 5 # SB_DFFE (LogicCell: spi.TxData[3]_LC_9)
set_location spi.TxData_RNO[4] 15 15 4 # SB_LUT4 (LogicCell: spi.TxData[4]_LC_10)
set_location spi.TxData[4] 15 15 4 # SB_DFFE (LogicCell: spi.TxData[4]_LC_10)
set_location spi.TxData_RNO[5] 15 15 0 # SB_LUT4 (LogicCell: spi.TxData[5]_LC_11)
set_location spi.TxData[5] 15 15 0 # SB_DFFE (LogicCell: spi.TxData[5]_LC_11)
set_location spi.TxData_RNO[6] 15 15 6 # SB_LUT4 (LogicCell: spi.TxData[6]_LC_12)
set_location spi.TxData[6] 15 15 6 # SB_DFFE (LogicCell: spi.TxData[6]_LC_12)
set_location spi.TxData_RNO[7] 15 15 1 # SB_LUT4 (LogicCell: spi.TxData[7]_LC_13)
set_location spi.TxData[7] 15 15 1 # SB_DFFE (LogicCell: spi.TxData[7]_LC_13)
set_location spi.index_RNI57R91[2] 14 16 0 # SB_LUT4 (LogicCell: spi.index_RNI57R91[2]_LC_14)
set_location spi.index_RNO[0] 14 16 3 # SB_LUT4 (LogicCell: spi.index[0]_LC_15)
set_location spi.index[0] 14 16 3 # SB_DFF (LogicCell: spi.index[0]_LC_15)
set_location spi.index_RNO_0[2] 15 16 0 # SB_LUT4 (LogicCell: spi.index_RNO_0[2]_LC_16)
set_location spi.index_RNO[1] 14 16 7 # SB_LUT4 (LogicCell: spi.index[1]_LC_17)
set_location spi.index[1] 14 16 7 # SB_DFF (LogicCell: spi.index[1]_LC_17)
set_location spi.index_RNO[2] 15 16 1 # SB_LUT4 (LogicCell: spi.index[2]_LC_18)
set_location spi.index[2] 15 16 1 # SB_DFF (LogicCell: spi.index[2]_LC_18)
set_location LEDGZ0_THRU_LUT4_0 13 16 5 # SB_LUT4 (LogicCell: LEDG_LC_19)
set_location LEDG 13 16 5 # SB_DFFE (LogicCell: LEDG_LC_19)
set_location LEDRZ0_THRU_LUT4_0 13 14 7 # SB_LUT4 (LogicCell: LEDR_LC_20)
set_location LEDR 13 14 7 # SB_DFF (LogicCell: LEDR_LC_20)
set_location spi.RxdData_0_THRU_LUT4_0 15 17 7 # SB_LUT4 (LogicCell: spi.RxdData[0]_LC_21)
set_location spi.RxdData[0] 15 17 7 # SB_DFFE (LogicCell: spi.RxdData[0]_LC_21)
set_location spi.RxdData_1_THRU_LUT4_0 15 17 2 # SB_LUT4 (LogicCell: spi.RxdData[1]_LC_22)
set_location spi.RxdData[1] 15 17 2 # SB_DFFE (LogicCell: spi.RxdData[1]_LC_22)
set_location spi.RxdData_2_THRU_LUT4_0 14 14 4 # SB_LUT4 (LogicCell: spi.RxdData[2]_LC_23)
set_location spi.RxdData[2] 14 14 4 # SB_DFFE (LogicCell: spi.RxdData[2]_LC_23)
set_location spi.RxdData_3_THRU_LUT4_0 14 14 5 # SB_LUT4 (LogicCell: spi.RxdData[3]_LC_24)
set_location spi.RxdData[3] 14 14 5 # SB_DFFE (LogicCell: spi.RxdData[3]_LC_24)
set_location spi.RxdData_4_THRU_LUT4_0 14 14 1 # SB_LUT4 (LogicCell: spi.RxdData[4]_LC_25)
set_location spi.RxdData[4] 14 14 1 # SB_DFFE (LogicCell: spi.RxdData[4]_LC_25)
set_location spi.RxdData_5_THRU_LUT4_0 14 14 3 # SB_LUT4 (LogicCell: spi.RxdData[5]_LC_26)
set_location spi.RxdData[5] 14 14 3 # SB_DFFE (LogicCell: spi.RxdData[5]_LC_26)
set_location spi.RxdData_6_THRU_LUT4_0 14 14 7 # SB_LUT4 (LogicCell: spi.RxdData[6]_LC_27)
set_location spi.RxdData[6] 14 14 7 # SB_DFFE (LogicCell: spi.RxdData[6]_LC_27)
set_location spi.RxdData_7_THRU_LUT4_0 14 14 6 # SB_LUT4 (LogicCell: spi.RxdData[7]_LC_28)
set_location spi.RxdData[7] 14 14 6 # SB_DFFE (LogicCell: spi.RxdData[7]_LC_28)
set_location spi.SCLK_latched_THRU_LUT4_0 15 16 2 # SB_LUT4 (LogicCell: spi.SCLK_latched_LC_29)
set_location spi.SCLK_latched 15 16 2 # SB_DFF (LogicCell: spi.SCLK_latched_LC_29)
set_location spi.SCLK_old_THRU_LUT4_0 14 16 6 # SB_LUT4 (LogicCell: spi.SCLK_old_LC_30)
set_location spi.SCLK_old 14 16 6 # SB_DFF (LogicCell: spi.SCLK_old_LC_30)
set_location spi.SS_latched_THRU_LUT4_0 14 16 4 # SB_LUT4 (LogicCell: spi.SS_latched_LC_31)
set_location spi.SS_latched 14 16 4 # SB_DFF (LogicCell: spi.SS_latched_LC_31)
set_location spi.SS_old_THRU_LUT4_0 14 16 5 # SB_LUT4 (LogicCell: spi.SS_old_LC_32)
set_location spi.SS_old 14 16 5 # SB_DFF (LogicCell: spi.SS_old_LC_32)
set_location tx_1_THRU_LUT4_0 13 16 6 # SB_LUT4 (LogicCell: tx[1]_LC_33)
set_location tx[1] 13 16 6 # SB_DFFE (LogicCell: tx[1]_LC_33)
set_location tx_2_THRU_LUT4_0 15 14 6 # SB_LUT4 (LogicCell: tx[2]_LC_34)
set_location tx[2] 15 14 6 # SB_DFFE (LogicCell: tx[2]_LC_34)
set_location tx_3_THRU_LUT4_0 15 14 3 # SB_LUT4 (LogicCell: tx[3]_LC_35)
set_location tx[3] 15 14 3 # SB_DFFE (LogicCell: tx[3]_LC_35)
set_location tx_4_THRU_LUT4_0 15 14 0 # SB_LUT4 (LogicCell: tx[4]_LC_36)
set_location tx[4] 15 14 0 # SB_DFFE (LogicCell: tx[4]_LC_36)
set_location tx_5_THRU_LUT4_0 15 14 5 # SB_LUT4 (LogicCell: tx[5]_LC_37)
set_location tx[5] 15 14 5 # SB_DFFE (LogicCell: tx[5]_LC_37)
set_location tx_6_THRU_LUT4_0 15 14 4 # SB_LUT4 (LogicCell: tx[6]_LC_38)
set_location tx[6] 15 14 4 # SB_DFFE (LogicCell: tx[6]_LC_38)
set_location tx_7_THRU_LUT4_0 15 14 7 # SB_LUT4 (LogicCell: tx[7]_LC_39)
set_location tx[7] 15 14 7 # SB_DFFE (LogicCell: tx[7]_LC_39)
set_location GND -1 -1 -1 # GND
set_io LEDG_obuf 9 0 1 # ICE_IO
set_io LEDR_obuf 9 0 0 # ICE_IO
set_io MISO_obuf 16 31 0 # ICE_IO
set_io MOSI_ibuf 18 31 0 # ICE_IO
set_io SCK_ibuf 19 0 1 # ICE_IO
set_io SS_ibuf 18 31 1 # ICE_IO
set_io mypll_inst.PLLOUTCORE_derived_clock_RNIF7IB 12 0 1 # ICE_GB
set_location mypll_inst.mypll_inst 12 31 1 # SB_PLL40_PAD
set_location CONSTANT_ONE_LUT4 12 30 2 # SB_LUT4 (LogicCell: LC_40)
